
@import url("https://fonts.google.com/specimen/Hanken+Grotesk");

// variables
$Light-slate-blue: hsl(252, 43%, 52%);
$Light-royal-blue: hsl(241, 91%, 49%);

$Violet-blue-circle: rgb(70, 10, 233);
$Persian-blue-circle: hsla(240, 90%, 4%, 0.849);
// end of variables 
*{

    padding:0;
    margin:0;
    box-sizing:border-box;
}
@mixin flexbox($align, $direction){
    display: flex;
    justify-content: $align;
    flex-direction: $direction;
    align-items: center;
}
body{
font-family: 'Hanken Grotesk' , sans-serif;
min-height: 100vh;
@include flexbox( center, column);
gap: 2rem;
}
p{
    font-size: 18px;
    font-weight: 500;
}
.container{
    background:hsl(0, 0%, 100%);
    box-shadow: 2px 2px 6px grey;
    border-radius: 20px;
    width: 500px;
    @include flexbox(center,row );
    align-items: stretch;
    gap: 10px;
    transition: all 500ms ease-in-out;

.card{
    width: 50%;
}
    .card.results{
        background: linear-gradient(to bottom, $Light-slate-blue, $Light-royal-blue);
        @include flexbox(space-evenly, column);
        gap: 10px;
        border-radius: 20px;
        color: #fff;
      padding: 25px 10px;
        h1{
            color:  hsl(240, 1%, 75%);
        }
        .total{
            border-radius: 50%;
            background-image: linear-gradient(to bottom, $Persian-blue-circle, $Violet-blue-circle);
            padding: 25px;
            text-align: center;
            line-height: 1.5;
            width: 130px;
            

            strong{
                display: block;
                font-weight: 900;
                font-size: 35px;
            }
            span{
                display: block;
                color: rgb(128, 128, 128);
                font-weight: 700;
            }
        }
        .comment{
            text-align: center;
            padding: 15px;
            line-height: 1.6;
            strong{
                line-height: 2.1;
                font-weight: bolder;
                font-size: 18px;
            }
            p{
                font-size: 15px;
            }
        }
    }
    .card.summary{
        padding: 1rem;
        display: flex;
        flex-direction: column;

        .details-container{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
            .details{
                margin: 10px;
                @include flexbox(space-between,row );
                padding: 12px 10px;
                font-size: 14px;
                border-radius: 8px;

                .decription{
                    @include flexbox(center,row );
                    gap: 5px;
                   p{
                    font-size: 14px;
                   } 

                }
                .out-of{
                    span.bold{
                        font-weight: 900;
                    }
                    span.grey-like{
                        font-weight: 700;
                        color: grey;
                    }
                }
               

                
            }
            .reaction{
                background-color: rgba(255, 192, 203, 0.459);
                p{
                    color: hsl(0, 100%, 67%);
                }
            }
            .memory{
                background-color: rgba(201, 183, 21, 0.192);
                p{
                    color: hsl(39, 100%, 56%);
                }
            }
            .verbal{
                background-color: rgba(21, 201, 81, 0.295);
                p{
                    color: hsl(166, 100%, 37%);
                }
            }
            .visual{
                background-color: hsl(241, 100%, 89%);
                p{
                    color: hsl(234, 85%, 45%);
                }
            }
        }
        button{
            background: #000;
            color: #fff;
            padding: 10px;
            border-radius: 30px;
            text-align: center;
            border: none;
            outline: none;
            cursor: pointer;
            transition:all 500ms ease-in-out;

            &:hover{
                opacity: 0.5;
            }
        }
    }
}
@media all and  (max-width:375px){
    .container{
        width: 100%;
        @include flexbox(center,column );
        border-radius: 0;

        .card{
            width: 100%;
        }
        .card.results{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
   
}
.attribution { 
    font-size: 11px; text-align: center;}
    .attribution a { color: hsl(228, 45%, 44%); }