@import url("https://fonts.google.com/specimen/Hanken+Grotesk");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

p {
  font-size: 18px;
  font-weight: 500;
}

.container {
  background: hsl(0, 0%, 100%);
  box-shadow: 2px 2px 6px grey;
  border-radius: 20px;
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-items: stretch;
  gap: 10px;
  transition: all 500ms ease-in-out;
}
.container .card {
  width: 50%;
}
.container .card.results {
  background: linear-gradient(to bottom, hsl(252, 43%, 52%), hsl(241, 91%, 49%));
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  color: #fff;
  padding: 25px 10px;
}
.container .card.results h1 {
  color: hsl(240, 1%, 75%);
}
.container .card.results .total {
  border-radius: 50%;
  background-image: linear-gradient(to bottom, hsla(240, 90%, 4%, 0.849), rgb(70, 10, 233));
  padding: 25px;
  text-align: center;
  line-height: 1.5;
  width: 130px;
}
.container .card.results .total strong {
  display: block;
  font-weight: 900;
  font-size: 35px;
}
.container .card.results .total span {
  display: block;
  color: rgb(128, 128, 128);
  font-weight: 700;
}
.container .card.results .comment {
  text-align: center;
  padding: 15px;
  line-height: 1.6;
}
.container .card.results .comment strong {
  line-height: 2.1;
  font-weight: bolder;
  font-size: 18px;
}
.container .card.results .comment p {
  font-size: 15px;
}
.container .card.summary {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.container .card.summary .details-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .card.summary .details-container .details {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 12px 10px;
  font-size: 14px;
  border-radius: 8px;
}
.container .card.summary .details-container .details .decription {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.container .card.summary .details-container .details .decription p {
  font-size: 14px;
}
.container .card.summary .details-container .details .out-of span.bold {
  font-weight: 900;
}
.container .card.summary .details-container .details .out-of span.grey-like {
  font-weight: 700;
  color: grey;
}
.container .card.summary .details-container .reaction {
  background-color: rgba(255, 192, 203, 0.459);
}
.container .card.summary .details-container .reaction p {
  color: hsl(0, 100%, 67%);
}
.container .card.summary .details-container .memory {
  background-color: rgba(201, 183, 21, 0.192);
}
.container .card.summary .details-container .memory p {
  color: hsl(39, 100%, 56%);
}
.container .card.summary .details-container .verbal {
  background-color: rgba(21, 201, 81, 0.295);
}
.container .card.summary .details-container .verbal p {
  color: hsl(166, 100%, 37%);
}
.container .card.summary .details-container .visual {
  background-color: hsl(241, 100%, 89%);
}
.container .card.summary .details-container .visual p {
  color: hsl(234, 85%, 45%);
}
.container .card.summary button {
  background: #000;
  color: #fff;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
.container .card.summary button:hover {
  opacity: 0.5;
}

@media all and (max-width: 375px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
  }
  .container .card {
    width: 100%;
  }
  .container .card.results {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=styles.css.map */